<h2>Cart</h2>

<ul>
  <%= render(cart.line_items) %>
</ul>

<p>Total: <%= number_to_currency(cart.total_price) %></p>


<%= button_to 'Empty cart', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
