<div class="container">

  <h1>Catalog</h1>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item mb-3">
        <div class="card h-100">
          <%= image_tag(product.image_url, class: "card-img-top product-img") %>
          <div class="card-body">
            <h4 class="card-title">
              <%= product.title %>
            </h4>
            <p class="card-text"><%= product.description %></p>
            <p><%= number_to_currency(product.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>